/**************
 * Gnome Disk *
 **************/
window.background.csd {
  > box.vertical > paned.horizontal {
    > scrolledwindow {
      treeview.view:not(:hover):not(:active):not(:selected) {
        background-color: transparent;
      }
    }
  }
}

/***********
 * Dialogs *
 ***********/
dialog.background.csd {
  > box.vertical.dialog-vbox {
    > grid.horizontal {
      > scrolledwindow.frame {
        > viewport.frame {
          list:first-child { border-radius: 0 0 0 $window-radius; }
          list:last-child { border-radius: 0 0 $window-radius 0; }
        }
      }
    }

    > stack,
    > stack > stack {
      > scrolledwindow {
        border-radius: 0 0 $window-radius $window-radius;
        background-color: $base;

        iconview.view:not(:hover):not(:selected):not(:active) { // Wallpaper setting window
          // @extend %view;
          background-color: transparent;
        }
      }
    }

    > stack {
      > scrolledwindow > viewport.frame {
        > list {
          border-radius: 0 0 $window-radius $window-radius;

          row.activatable:not(:hover):not(:selected):not(:active) {
            background-color: transparent;
          }
        }
      }

      > box.vertical > stack.view {
        > scrolledwindow > treeview.view:not(:hover):not(:selected):not(:active) {
          background-color: transparent;
        }
      }

      toolbar.toolbar {
        border-radius: 0 0 $window-radius $window-radius;
      }
    }

    > notebook:not(.frame) {
      &, > stack {
        border-radius: 0 0 $window-radius $window-radius;
      }

      .inline-toolbar {
        border-radius: 0 0 $corner-radius $corner-radius;
      }
    }
  }

  stack scrolledwindow {
    &.frame {
      border-radius: $corner-radius;

      textview.view {
        border-radius: $corner-radius;

        > text {
          background: none;
        }
      }

      treeview.view:not(:hover):not(:active):not(:selected) { background: none; }
    }

    viewport.frame {
      &.view { border-radius: $corner-radius; }
    }
  }
}

//
// unified window
//

window.background.csd.unified {
  // Remove the sheen on headerbar...
  headerbar {
    box-shadow: inset 0 -1px $divider;

    &.selection-mode {
      box-shadow: none;
    }
  }

  // ...and add it on the window itself
  > decoration-overlay {
    box-shadow: inset 0 1px highlight($titlebar);
  }

  &,
  > decoration,
  > decoration-overlay {
    border-radius: $window-radius;
  }

  &.tiled,
  &.tiled-top,
  &.tiled-right,
  &.tiled-bottom,
  &.tiled-left,
  &.maximized,
  &.fullscreen {
    > decoration-overlay {
      box-shadow: none;
    }

    &,
    > decoration,
    > decoration-overlay {
      border-radius: 0;
    }
  }

  > deck > .view > notebook {
    > header.top {
      border-radius: 0;
    }
  }
}
